body, html {
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;


}

body{
	background-color: rgb(248,248,248);
}

/*fonts code*/
h1,h3{
	font-family: 'Lobster', cursive;
}

h1{
	font-size: 3em;
}

h3{
	font-size: 2em
}
p{
	letter-spacing: 0.04em;
}

.nav-pills{
	font-weight: 700;
}

/*Finish Font code*/


/*.container{
	border: 2px solid red;
}*/




/* hr style*/
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.welcome{
	/*image*/
	background: linear-gradient(
		rgba(0,0,0,0.55),
		rgba(0,0,0,0.55)),
	url(https://terrys10.github.io/bliss-project/IMG_3364.JPG) ;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*text*/
	color: white;
	padding: 25% 0;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
	/*margin*/
	margin-bottom: 4%;

	/*Fonts*/
	font-size: 1.5em;
}


/* titlos perigrafon center */
.titlos-perigrafis{
	text-align: center;
	padding-bottom: 2%
}




@media (min-width: 768px)
{
	.perigrafi{
	/*border: 3px solid blue;*/
	padding-top: 3%;
	}

	.item{
	margin-top: -20%;
}

	#myCarousel{
	margin-top: 3%;
	height: 75%
}

}

@media (max-width: 767px) {
	
	.eikona-perigrafis{
		margin-bottom: 3%;
		max-width: 90%;
		margin:  auto;
	    margin-bottom: 2%;
		/*border: 3px dashed orange;*/

	}


	.perigrafi{
		/*border: 3px dotted green;*/
		margin: 0 3%;
	}


	/*Carousel Tabs Mobile*/
	.test1 > li {
  	  display: table-cell; 
  	  width: 1%;
	}
	
	.test1 > li > a {
		max-height: 30;
		padding-top: 3px;
	}

	#myCarousel{
		margin-top: 3%
		height: 100%
	}
} 
/*Media Finish*/


/*carousel css*/

#myCarousel .nav a {
    display: block;
}

.nav-justified > li > a {
	background: rgb(230,230,230);
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0)); }
.nav-pills>li[data-slide-to="1"].active a { background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0)); }
.nav-pills>li[data-slide-to="2"].active a { background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0)); }


.carousel-inner {
	max-height: 100%;
}


/*Carousel MyCode*/

.test1 {
	position: absolute;
	z-index: 2;
}

/* .nav-justified > li {
    display: table-cell; 
    width: 1%
} */


/*Tabs Borders*/
.test1 a {
	border-right: 1px solid rgba(0,0,0,0.3);
	border-left: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(0,0,0,0.1);
}

a.firstTab{
	border-left: 0;
}

a.lastTab{
	border-right: 0;
}


/*.item{
	margin-top: -20%;
}
*/

/*carousel finish*/



.carousel-caption{
	margin-top:-100px;
}












/*#myCarousel .nav a 
{
    display: block;
    border: 1px solid red;

}*/

/*.about .col-md-7{
	border: 3px solid orange;
	padding-top: 3%;
*//*	margin-bottom: 2%;


}*/




/*body,
html {
    width: 100%;
    height: 100%;
}

.jumbotron{
	background-image: url(C:/Users/terry/Desktop/BlissLogo/photos/IMG_3364.JPG);
	background-position: center;
	background-size: cover;
	height: 800px;
}*/

/*.navbar-inverse{
	background-color: rgba(0,0,0,0.5);
	border: 0px;
	max-width: 100%;
}



@media (max-width: 992px)
{
    .navbar-inverse
    {
       background-color: rgba(0,0,0,1);
	border: 5px;
    }
}*/


/*@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}*/

/*h1{
	font-size: 2em;
}*/
